*.a
*.tmp
*.swp
*.log
moc_*.cpp
]
*_automoc.cpp
cmake_install.cmake
Makefile
CMakeFiles
CMakeCache.txt
pipesTpService
*.swo
*.service
*.moc
PipeInterface.*
*.moc_parameters
pipe_interface.*
install_manifest.txt
telepathy-pipes
